<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
                background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }

    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/64/28/2c/64282c997000e0cebc8021ee7b6edc76.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Погодившись на навчання у ВШБ Кіра, стане не лише висококваліфікаційним універсалом, який закінчив факультет «ЖиРаФ», а ще й «ФентБоїв»,а й світлою відьмою.
    </p>
    <p align="center">
        Вона знайде справжніх друзів без різниці чи то ельф, вовкулака, людина чи дерхан, звісно перше кохання, неймовірні практики у інших реальностях, дракони та багато іншого. Навіть темна фея Аннатаніель в особистих викладачах.
    </p>
    <p align="center">
        Цікаве буде життя у Кіри, про яке ви дізнаєтеся згодом.
    </p>

    <p align="center">
        <a href="/"><button>На початок</button></a>
    </p>

</body>
</html>

