<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
                background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }

             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }

    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/62/cf/9e/62cf9ebac3818db04fb95a76ea13a73f.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Кіра повернулася у бібліотеку та усе забула, а посібник зник з бібліотеки, як і не бувало. Вона вступила в університет на наступний рік і чудово його завершила, але чогось їй не вистачало.
    </p>
    <p align="center">
        Та зрозуміти чого вона не змогла, можливо, той посібник ще раз з’явиться і вона цього разу не впусте  своє майбутнє, але хто ж його зна.
    </p>
 <p align="center">
        <a href="/"><button>На початок</button></a>
    </p>
</body>
</html>

