<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }

    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/87/4a/ae/874aaeab6f6cf8fd102f00715a64b5c7.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Не зайшла! Вона втікла, злякалася і жодного разу не прийшла на пару до тої хто міг допомогти змінити їй своє життя. Звісно Кіра змогла завершити університет, але після одного прогулу, вона наче почала усього боятися чи то її підсвідомість, чи у тому винна темна фея Аннатаніель, вона ніколи не дізнається.
    </p>
 <p align="center">
        <a href="/"><button>На початок</button></a>
    </p>

</body>
</html>