<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        А чи не той хлопець, який тиждень тому стяг звідси книжку і отримав від мене хребтиною?
    </p>
    <p align="center">
        Ух, ну якщо це він, я його зараз знову приголублю від усієї широти душі!
    </p>
     <p align="center">
         Підкралася я до нього зі спини, бо злодюжка був зайнятий, нахилившись над підлогою, на якій лежала книга.
     </p>
    <p align="center">
        І…
    </p>
    <p align="center">
        <a href="/page33_1"><button>Далі</button></a>
    </p>
</body>
</html>