<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
             background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/43/1d/ae/431dae79cfd4f9220f7efefbb6c364f3.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Я вступила! Ура! Тепер, я студентка і буду журналісткою. З цей рік, я відпрацювала стільки змін у кафе офіціанткою, щоб заробити на перший рік навчання, що жах.
    </p>
    <p align="center">
        Але тепер, я студентка і навчаюся тому чому і бажала. Я зрозуміла, що мені цікаво писати, тоді коли почала писати книгу, проте як дівчинка потрапила в інший світ де є магія і через звичайнісіньку книгу-портал. Коли розказала, цю історію мамі, то їй сподобалося.
    </p>
    <p align="center">
        І так, я пішла на журналістику.
    </p>
    <p align="center">
        <a href="/page17_2"><button>Далі</button></a>
    </p>
</body>
</html>