<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/e0/4a/18/e04a18bbbb7eba4a9d3140db422f0a47.jpg" alt="Sea" width="500">
    </p>
    <p>
        Потім ми опинилися в похмурому коридорі якоїсь адміністративної будівлі.
    </p>
     <p>
        По обидва боки на рівній відстані розташовувалися високі двері, в простінках висіли світильники.
     </p>
    <p>
        Підлога була не мармурова, як у першій кімнаті з мозаїкою, але теж викладена плитами з сірого гладкого, але не слизького каменю.
    </p>
    <p>
        Дивно… Чому не паркет чи лінолеум?
    </p>
    <p>
        <a href="/page60_1"><button>Далі</button></a>
    </p>
</body>
</html>
