<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/89/fd/fb/89fdfb3f6b6aecc104daa4fe65f374cf.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        "Посібник для мрійників і казкарів", - говорили золоті літери, тиснені на чорному тлі.
    </p>
    <p align="center">
        Судячи з потертої обкладинки, книга стара або користується великою популярністю.
    </p>
    <p align="center">
       Ще б! Кому не хочеться прочитати посібник для мрійників та казкарів?
    </p>
    <p align="center">
        <a href="/page10_1"><button>Далі</button></a>
    </p>
</body>
</html>