<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/94/97/d7/9497d71310a80ff0ad3657f2dcd85b3f.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Рік потому...
    </p>
    <p align="center">
        <a href="/page16_2"><button>Далі</button></a>
    </p>
</body>
</html>