<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/e0/4a/18/e04a18bbbb7eba4a9d3140db422f0a47.jpg" alt="Sea" width="500">
    </p>
    <p>
        Спочатку нам довелося спуститися гвинтовими кам'яними сходами, поверху так з п'ятого.
    </p>
     <p>
        Федько злісно пихкав, періодично намагався вирвати з моїх чіпких лапок свій рукав, але потім упокорився і кинув безплідні спроби.
     </p>
    <p>
        Ну а що? Страшно ж! Запізніла реакція, звичайно, але краще запізно, ніж ніколи.
    </p>
    <p>
        До мене тільки зараз почало доходити, що все, що відбувається, м'яко кажучи, не зовсім нормально, і невідомо, чого чекати далі.
    </p>
    <p>
        <a href="/page59_1"><button>Далі</button></a>
    </p>
</body>
</html>
