<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p>
        Прикривши очі, світловолосий невдаха кілька разів глибоко зітхнув, заспокоюючись. Потім глянув на мене і спитав:
    <p>
        - Тебе як звати, прониро?
    </p>
     <p>
        – Від пронири чую! - Огризнулася я і назвалася: - Кіра.
     </p>
    <p>
        - Кіро, слухай, - заговорив він. – Даю тобі честне слово, що я не злодій і не намагався вкрасти книги з вашої бібліотеки.
        Мені просто не пощастило, і ти мене застукала. Але це моя книга, і до ваших вона жодного стосунку не має. У мене тут… – він пом'явся, – зустріч призначена
    </p>
    <p>
        <a href="/page44_1"><button>Далі</button></a>
    </p>
</body>
</html>