<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        – А-а-а, – видихнула я. – Ні. В нас вони як вид не існують. Тільки десь у Європі ще не вимерли деякі індивідууми.
    </p>
     <p>
        – Ну що ж, слабка дівчина Кіра, яка мало не зламала швабру об спину нашого студента. Враховуючи ваші здібності та ситуацію в цілому, можу запропонувати вам місце у нашій школі.
     </p>
    <p>
        – Е-е?
    </p>
    <p>
        - Вишибалою хочете стати?
     </p>
    <p>
        - Я-а-а? - У мене навіть рота відкрився.
    </p>
    <p>
        <a href="/page70_1"><button>Далі</button></a>
    </p>
</body>
</html>
