<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
             background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/4e/fb/b0/4efbb032a797e10d44aea7d6e450b0e8.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Переконавшись, що всі двері та вікна замкнені, я швидко розставила по полицях книги, що накопичилися за день, навела лад на столі і, потираючи від передчуття руки, попрямувала до крісла в службовій кімнатці.
    </p>
    <p align="center">
      Книжка-а-а! Зараз ми з тобою поспілкуємось.
    </p>
    <p align="center">
        Взагалі-то мені потрібно було ще помити підлогу (це додаткове покарання за те, що не вступила до інституту, і додатковий приробіток, тому що зарплата крихітна), але можна і пізніше.
    </p>
    <p align="center">
      Адже я маю відпочити?
    </p>

    <p align="center">
        <a href="/page9_1"><button>Далі</button></a>
    </p>
</body>
</html>