<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/14/ba/51/14ba51c6c36387b709abc58c85370591.jpg" alt="Sea" width="500">
    </p>
    <p>
        Кілька разів я перекинулася в повітрі, але швабру з рук не випустила, а потім впала на щось м'яке і живе.
    <p>
        - А-а-а-а-а! - це я.
    </p>
     <p>
        - А-а-а-а-а! - Це піді мною. Той, на кого я впала.
     </p>
    <p>
        – Ти?! - заревів Федько, як тільки я з нього скотилася і сіла на твердій підлозі.
    </p>
    <p>
        – А ти на кого чекав, паразит?! - Закричала я. - Впадати в мене важкими предметами? Книжки псувати?
     </p>
    <p>
        <a href="/page50_1"><button>Далі</button></a>
    </p>
</body>
</html>