<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        – Валяй! – огризнувся цей тип, не озираючись на мене і намагаючись упоратися із замком.
    </p>
     <p align="center">
         Причому книгу він продовжував притискати себе, і я навіть не могла розглянути обкладинку. Цікаво, що він намагається зтягнути?
     </p>
     <p align="center">
         – Слухай, клептомане! Залиш талмуд, і я, так і бути, тебе відпущу! - Спробувала я піти на компроміс.
     </p>
     <p align="center">
         - Ага, біжу і падаю! – пирхнув цей… цей…
    </p>
    <p align="center">
        Ну все! Я зла. Я дуже зла!
    </p>
    <p align="center">
        <a href="/page20_1"><button>Далі</button></a>
    </p>
</body>
</html>