<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
         button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p>
        На комірці джинсової куртки приколото сріблястий значок у вигляді розкритої книги, на її сторінках – якийсь текст чорним, а над книгою – три чорні літери або руни.
    </p>
    <p>
        Із такої відстані я не могла розглянути. Не знаю, що ця книга мала означати. Коротше, не на мій смак тип.
    </p>
     <p>
       Пацан, а тепер я не збиралася називати його хлопцем, не доріс ще, проморгався і злісно дивився на мене.
     </p>
    <p>
      - Іди по-доброму, малявко! - гаркнув він і стиснув руки в кулаки.
    </p>
    <p>
        - А те що?! - Посміхнулася я.
    </p>
    <p>
        <a href="/page38_1"><button>Далі</button></a>
    </p>
</body>
</html>