<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        Отак, мляво пересварюючись, ми дісталися до кабінету ректора.
    </p>
     <p>
        - Магістр Новард, можна? — Федько постукав у двері, прочинив їх і зазирнув у щілину.
     </p>
    <p>
        – Потрібно! – долинула з кімнати відповідь.
    </p>
    <p>
         Ми увійшли, хлопець демонстративно, по одному, розтис мої пальці на своєму рукаві і з невимовним полегшенням на обличчі відсунувся подалі.
     </p>
    <p>
        А я почала оглядатися. Отже. Кабінет: великий, з високою стелею та вікном, задернутим щільними бордовими шторами. На підлозі килим. Ліворуч – двері в суміжне приміщення. Весь вільний простір біля стін щільно заставлено книжковими шафами, на деяких дверцятах замки. Полиці в шафах у буквальному значенні ломилися від книг.
    </p>
    <p>
        <a href="/page64_1"><button>Далі</button></a>
    </p>
</body>
</html>
