<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
            body{
                background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
            }
                 button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        Федько полегшено видихнув, а магістр продовжив:
    </p>
     <p>
        - Що, втім, не звільняє вас від реферату на тему: "Переміщення в інші реальності за допомогою порталу та взаємодія з населенням реальностей та нереальностей". Декана Лістрата я сповіщу.
     </p>
    <p>
        - Дякую, магістр Новард! – Федько трохи вклонився.
    </p>
    <p>
        - Тепер ви, "слабка дівчина". Ім'я, вік, раса, статус, освіта?
     </p>
    <p>
        <a href="/page68_1"><button>Далі</button></a>
    </p>
</body>
</html>
