<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/83/2c/a1/832ca1397b3897029ec827c789c623f2.jpg" alt="Sea" width="500">
    </p>
    <p>
        Федько коником сиганув до книги, а саме вона спалахнула (з чого б це?!). І стрибнув прямо на неї ногами.
    <p>
        Що-о-о? Книгу? Ногами топтати? Замахнувшись, я кинулась на нього.
    </p>
     <p>
        Але раптом опора під ногами зникла, і я з криком ухнула кудись у порожнечу.
     </p>
    <p>
        «Завантаження нової дійсності», – сказав у мозку беземоційний жіночий голос.
    </p>
    <p>
        <a href="/page49_1"><button>Далі</button></a>
    </p>
</body>
</html>