<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/89/fd/fb/89fdfb3f6b6aecc104daa4fe65f374cf.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Підібрала під себе ноги, знову заплющила очі і нагострила вушка. Що там у нас? Вітер за вікном шумить.
    </p>
    <p align="center">
        Машина проїхала. Велосипедний дзвінок потріскав, дитячий голос покликав маму. Ні, це не те.
    </p>
    <p align="center">
        Потрібно прислухатися до того, що відбувається у приміщенні.  Муха дзижчить і б'ється об скло. Ось зараза крилата, не дає зосередитись.
    </p>
    <p align="center">
         Хоча може так і звучить диво? Ні, не може бути! Щось прошурхотіло.
    </p>
    <p align="center">
        <a href="/page15_1"><button>Далі</button></a>
    </p>
</body>
</html>