<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/4e/fb/b0/4efbb032a797e10d44aea7d6e450b0e8.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Ну, і що робити? Поліцію викликати? А я навіть не знала, яку саме книжку злодій стяг.
    </p>
     <p align="center">
        Обкладинку я не зуміла впізнати. Зовнішність його теж розглянути до ладу не змогла.
     </p>
     <p align="center">
        Волосся світле, скуйовджене, очі… Поняття не маю, які в нього очі. Та й обличчя, якщо чесно, у запалі битви не розглянула.
     </p>
     <p align="center">
        Він постійно намагався триматися до мене спиною і не повертатися.
    </p>
    <p align="center">
        <a href="/page22_1"><button>Далі</button></a>
    </p>
</body>
</html>