<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p>
       Мені вже набридло з ним сперечатись, а він навіть не намагався втекти або на мене напасти. Тільки стояв, огризався і постійно косився на підлогу.
    </p>
    <p>
        До речі, що він там вкрасти намагався?
    </p>
     <p>
     Я перевела погляд униз. Книжка як книжка, іноземною мовою, яскраво-червона обкладинка, в центрі малюнок міста: звичайні багатоповерхівки, машини на дорозі.
     </p>
    <p>
        Напевно, сучасний детектив.
    </p>
    <p>
        <a href="/page41_1"><button>Далі</button></a>
    </p>
</body>
</html>