<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        Я вишибала? Він це як взагалі собі уявляє? Та в мені зросту – метр із кепкою. І повна відсутність м'язів.
    </p>
     <p>
        - Ну а що? – задумливо продовжив ректор. – Факультет, як завжди, буде зрозумілим лише при розподілі. Ви якраз вдало сюди потрапили, не інакше вас сама Доля направляла. Розподіл завтра вранці.
     </p>
    <p>
        Але й так ясно, що здібності книгохідця у вас є, інакше б ви не змогли пройти в портал за Ніртоном. Працювали ви бібліотекарем, читати любите. Термін навчання – п'ять років.
    </p>
    <p>
        Якщо не знайдете коштів, щоб погасити вартість навчання, то потім відпрацюєте стільки ж років на державу та вільні.
     </p>
    <p>
        <a href="/page71_1"><button>Далі</button></a>
    </p>
</body>
</html>
