<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/14/ba/51/14ba51c6c36387b709abc58c85370591.jpg" alt="Sea" width="500">
    </p>
    <p>
        - Та що ж ти до мене причепилася?! - Заволав він у відповідь і схопився.
    <p>
        - Я зараз покажу тобі, хто до кого прив'язався, поганцю! Бач, надумав слабку дівчину ображати! - озвіріла я і кинулася вбивати цього зухвальця.
    </p>
     <p>
        Загалом мені це майже вдалося. Я кілька разів дісталася до нього шваброю і відмінно приклала нижче спини.
     </p>
    <p>
        Хоча треба віддати Федьку належне, втікав він від мене як заєць, і більшу частину часу ми з ним просто бігали по колу у порожній кімнаті, в якій опинилися.
    </p>
    <p>
        <a href="/page51_1"><button>Далі</button></a>
    </p>
</body>
</html>