<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        Ми – Бібліотекарі. Бібліотекарі з великої літери. Ви ж знаєте, що практично кожен день письменники створюють нові книги?
    </p>
     <p>
        І так відбувається не лише у вашій реальності, а й у всіх інших. Наше завдання – переміщатися у реальні світи і надавати, скажімо так, сприяння письменникам, якщо таке необхідне.
     </p>
    <p>
        Або переноситися в нереальності, тобто у вигадані світи, якщо виявляється, що трапилося те, чого не мало відбуватися за сюжетом. Якщо герої набули свого життя і творять непотребства.
    </p>
    <p>
                Зрозуміли?
    </p>
    <p>
        <a href="/page75_1"><button>Далі</button></a>
    </p>
</body>
</html>
