<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Знову розмахнулася, щоб обігріти злодія шваброю (я ж не камікадзе, лізти на нього з голими руками!), але в цей момент він впорався із замком і вивалився у двері. А я тієї ж миті з усієї сили опустила свою зброю.
    </p>
     <p align="center">
        Потрапила! Не туди, куди мітила, але злодія я все ж таки приголубила деревинкою. Хлопець завив білугою, пролетів за інерцією вперед і мало не стрімголов скотився зі сходів.
     </p>
     <p align="center">
         – Книжку віддай! - Гаркнула я йому в спину.
     </p>
     <p align="center">
         - Відвали, маніячка психованна! - крикнув він мені і, не оглядаючись і сильно кульгуючи, припустив вулицею.
    </p>
    <p align="center">
        <a href="/page21_1"><button>Далі</button></a>
    </p>
</body>
</html>