<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/d5/02/06/d50206e185228467d531efcc5496096e.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        - Рідні, я вдома!- крикнула з дверей.
    </p>
    <p align="center">
        – О, Кіруся, ти вже прийшла. Що нового на роботі? - спитала мама, виходячи з кухні.
    </p>
    <p align="center">
        – Мам, ну що нового може бути у бібліотеці, все як завжди.
    </p>
    <p align="center">
        – То може пошукаєш собі нову роботу? Секретаркою чи помічницею, туди не завжди потрібен диплом. І тобі треба назбирати грошей на навчання, якщо захочеш навчатися потім.
    </p>
    <p align="center">
        – Я подумаю про це, але вже краще на вихідних, добре, бо я так стомилася, - відповіла я зоходячи до своєї кімнати.
    </p>
    <p align="center">
        <a href="/page10_2"><button>Далі</button></a>
    </p>
</body>
</html>