<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p>
        - Федоїл!
    <p>
        – Так я й кажу – Федю!
    </p>
     <p>
        Ми помірялися поглядами, але спроб лаятись далі ні він, ні я не робили. Скільки можна?
     </p>
    <p>
        Пройшла хвилина, друга, і тут я помітила, що Федя якось нервово коситься на годинник, що висить на стіні. Але повертати голову і теж дивитися на якийсь час не стала, бо хто його, цього ненормального, знає. Ще нападе на мене.
    </p>
    <p>
        Федько глибоко зітхнув і ніби ліниво взяв зі стелажу книжковий томик. Я напружилася, але нічого не сказала, тільки міцніше вчепилася в швабру.
    </p>
    <p>
        <a href="/page47_1"><button>Далі</button></a>
    </p>
</body>
</html>