<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        - Це я дура?! - заволала, наступаючи на нього, заодно на ходу тицьнула хрестовиною швабри у вимикач на стіні.
    </p>
    <p>
        – Я тобі покажу, як книжки з бібліотеки красти!
    </p>
     <p>
        - Та не краду я нічого! Психопатка! - Хлопець уже встиг випростатися і озирнувся. Тільки світло його засліпило, і він замружився.
     </p>
    <p>
       Я до яскравого освітлення була готова і встигла заплющити очі майже повністю, залишивши тільки щілочку між вій.
    </p>
    <p>
        Отже, зараз розглянула його обличчя при яскравому електричному світлі. Минулого разу не встигла. Та й ховав він його тоді, старанно повертаючись спиною.
    </p>


    <p>
        <a href="/page36_1"><button>Далі</button></a>
    </p>
</body>
</html>