<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        – Ви прибиральниця? – спитав ректор і багатозначно подивився на швабру у моїй руці.
    </p>
     <p>
        – Я?! – обурилася я. - Ні, я бібліотекар! Просто люблю затримуватись після роботи, щоб спокійно почитати. А то вдома батьки пиляють. У сенсі... е-е-е... нотації читають. Ось сиділа я, спокійно читала книгу, а там цей... Шарився, відром гримів. Я й прихопила щось важке. Не з порожніми ж руками було йти злодія ганяти. А він ще й напав на мене! Ну і ось, у нагоді стала швабра.
     </p>
    <p>
        - Стала в нагоді?! – Федько навіть забув, що треба боятися ректора. - Та ти мені нею трохи спину не зламала!
    </p>
    <p>
        – А не було чого в мене книжками кидатися!
     </p>
    <p>
        <a href="/page66_1"><button>Далі</button></a>
    </p>
</body>
</html>
