<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
        button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p>
        Так, так! Я страшна і моторошно небезпечна, у мене в руках швабра, а в цього хмиря немає нічого.
    <p>
        - А то гірше буде! - скорчив він злісну пику.
    </p>
     <p>
        - Ой ой ой! Злякав їжачка голою попою! - Передражнила я і скопіювала вираз його обличчя. - Я тобі покажу, як ночами вештатися по публічних бібліотеках і книжки тирити! Бач, моду взяв!
     </p>
    <p>
        - Та не краду я твої книги, ненормальна! - Закотив очі пацан. - Це моя книга, з вашого мотлоху я нічого не брав.
    </p>
    <p>
        <a href="/page39_1"><button>Далі</button></a>
    </p>
</body>
</html>