<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        Наш світ чи, як заведено називати, – реальність, знаходиться у центрі. Від нас за допомогою порталів можна без проблем та складнощів переміститися у будь-який зі світів реальних та нереальних.
    </p>
     <p>
        У цьому його особливість. Тільки звідси можна легко потрапити у світи нереальні, вигадані.
     </p>
    <p>
        І саме цим і займаються наші студенти та випускники
    </p>
    <p>
        <a href="/page74_1"><button>Далі</button></a>
    </p>
</body>
</html>
