<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p>
        Хлопець виразно рипнув зубами, але оскільки я залишила спроби підтягнути книгу до себе, нападати на мене не став.
    </p>
    <p>
        Хоча, будучи справедливою, треба визнати – він має рацію, причому на всі сто відсотків. Я й справді порівняно з ним дрібна.
    </p>
     <p>
        Якби він захотів, зім'яв би мене в одну мить. Хоча він був вищий за мене всього на голову, але розмах плечих вселяв повагу.
     </p>
    <p>
        Це я на адреналіні зараз була така хоробра і нахабна.
    </p>
    <p>
        <a href="/page43_1"><button>Далі</button></a>
    </p>
</body>
</html>