<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
             background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
        </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p>
        Він страшенно закотив очі, а я філософськи знизала плечима. Заслужив, мабуть. Мені теж не посміхається тут з ним лаятися. Я взагалі так втомилася за день, що мріяла лише про спокій та відпочинок, а тут він…
    <p>
        - Федоїл, - через довгу паузу сказав злодюжка.
    </p>
     <p>
        – Шо? - не зрозуміла я.
     </p>
    <p>
        - Не шо, а звати мене так - Федоїл, - блиснувши очима, пояснив він.
    </p>
    <p>
        - Ну, здорово, Федю, - відповіла я і переступила на місці. Стояти зі шваброю наперевагу було не так, щоб легко, і руки вже відчутно втомилися.
    </p>
    <p>
        <a href="/page46_1"><button>Далі</button></a>
    </p>
</body>
</html>