<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/4e/fb/b0/4efbb032a797e10d44aea7d6e450b0e8.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
       Зникнення так і не виявилося, оскільки ніхто не намагався взяти почитати саме ту книгу, яку вкрав шахрай, і я вирішила мовчати.
    </p>
    <p align="center">
          Нічого не знаю, нікого не бачила! Ось коли спливе її відсутність і стане зрозуміло, що саме зникло, тоді й видно буде.
    </p>
     <p align="center">
        А поки що тримаємо кулачки, щоб це сталося не скоро. Дасть бог, я на той час вже вступлю до інституту та з'їду до гуртожитку.
     </p>
    <p align="center">
        Отже, це будуть уже не мої проблеми.
    </p>
    <p align="center">
        <a href="/page27_1"><button>Далі</button></a>
    </p>
</body>
</html>