<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Це він дарма. Ці конкретні двері не кожен таран візьме. Будівля старовинна і двері з цілісного дуба, не інакше.
    </p>
     <p align="center">
          – Ну, ти сам напросився! - Вишкірилася я і розмахнулася.
     </p>
     <p align="center">
         – Відвали, ненормальна! – гаркнув хлопець і ухилився.
     </p>
     <p align="center">
         Швабра гримнула об дерев'яну поверхню, а в мене аж руки загули від вібрації.
    </p>
    <p align="center">
        - Зараз поліцію викличу, злодюга! - Я знову підняла швабру, приміряючись, як би приголубити злодія.
    </p>
    <p align="center">
        <a href="/page19_1"><button>Далі</button></a>
    </p>
</body>
</html>