<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        - Мм-м, - зависла я на секунду. – Кіра Золотова, сімнадцять років, людина, закінчила середню загальноосвітню школу. На жаль, провалила вступний іспит з математики до університету, у зв'язку з чим батьки влаштували мене працювати в бібліотеку.
    </p>
     <p>
        – Статус?
     </p>
    <p>
        – Статус? - Я здивовано поморгала. - Незаміжня.
    </p>
    <p>
        Федоїл хрюкнув від сміху, а ректор трохи посміхнувся і уточнив:
     </p>
    <p>
        – Дворянка?
     </p>
    <p>
        <a href="/page69_1"><button>Далі</button></a>
    </p>
</body>
</html>
