<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/cd/96/0a/cd960adbdac7d5a549bf54435e4583c2.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Я лише два тижні навчаюся в університеті, та усі мені вже розказали про страшно-гарну викладачку Аннатаніель Карібора,
    </p>
    <p align="center">
        І от стою, я перед аудиторією і не знаю чи варто мені іти туди де нас усіх «з’їсть» Аннушка.
    </p>
    <p align="center">
        Мені довелося зустрітися з нею у коридорі та я подумала, що це старшокурсниця, або ж аспірантка.
    </p>
    <p align="center">
        <a href="/page19_2"><button>Далі</button></a>
    </p>
</body>
</html>