<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/07/2e/85/072e8517511dbfb97166326db9bcd32b.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
       Я обережно, щоб не злякати диво, розплющила очі і крізь вії зиркнула в той бік, звідки долинав скрип.
    </p>
     <p align="center">
        Крізь відчинені двері до спільної зали побачила, хто там ішов, і з криком схопилася:
     </p>
     <p align="center">
       – Ану стояти, злодюга!
    </p>
    <p align="center">
        <a href="/page17_1"><button>Далі</button></a>
    </p>
</body>
</html>