<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/e0/4a/18/e04a18bbbb7eba4a9d3140db422f0a47.jpg" alt="Sea" width="500">
    </p>
    <p>
        Підлога чорна, мармурова. Кругле склепіння губилося у висоті і теж було абсолютно чорним. Незатишне приміщення, мушу сказати.
    </p>
     <p>
         Звідки лилося неяскраве розсіяне світло, що дозволяло озирнутися, я не зрозуміла.
     </p>
    <p>
        - Федь, а ми де? - Запитала я свого противника і знову здула з очей чубок. У крові ще вирував адреналін, тому толком злякатися і здивуватися я не встигла. Якщо тільки зовсім небагато.
    </p>
    <p>
        – Де-де… – пробурчав він. - Ось якого шурха ти за мною поперлася? Одні проблеми тепер через тебе!
    </p>
    <p>
        - Здурів? - Покрутила я пальцем біля скроні. – Я у своїй бібліотеці була. І нікуди я за тобою не перлася, а лише хотіла трохи побити.
    </p>
    <p>
        <a href="/page55_1"><button>Далі</button></a>
    </p>
</body>
</html>
