<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
           <img  src="https://i.pinimg.com/originals/4e/fb/b0/4efbb032a797e10d44aea7d6e450b0e8.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Тільки уважність, любов до книг та пам'ять. Усього цього в мене вистачало з надлишком.
    </p>
    <p align="center">
      Особливо любові до книг. Їх я любила ніжно та віддано. Я навіть сказала б – маніакально.
    </p>
    <p align="center">
        Якщо вже чесно, то й ЗНО я провалила, бо замість того, щоб зубрити, я… Так, про це тс-с-с-с.
    </p>
    <p align="center">
      Дізнаються мама і тітка Тома, голову мені відкрутять і посадять нерозумне чадо на голодний книжковий пайок.
    </p>
    <p align="center">
     Загалом, вже майже три місяці я працювала другим бібліотекарем у нашій невеликій районній бібліотеці.
    </p>
    <p align="center">
        <a href="/page8_1"><button>Далі</button></a>
    </p>
</body>
</html>