<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/d5/02/06/d50206e185228467d531efcc5496096e.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Я повечеряла і пішла читати, а не шукати роботу. Бо навіщо треба, я ж у наступному році хочу поступити, отже мені треба знову готуватися та перескладати ЗНО.
    </p>
    <p align="center">
        Хоча, мама правду каже, хто за моє навчання платитиме, сидіти у батьків на шиї, якось і не сильно хочеться.
    </p>
    <p align="center">
        Вирішено, подивлюся на вакансії.
    </p>

    <p align="center">
        <a href="/page11_2"><button>Далі</button></a>
    </p>
</body>
</html>