<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/e0/4a/18/e04a18bbbb7eba4a9d3140db422f0a47.jpg" alt="Sea" width="500">
    </p>
    <p>
        – А там що? - Не витримавши, запитала я і тицьнула пальцем в перші двері.
    </p>
     <p>
        - Не твого розуму діло! – швидше за звичкою, ніж за потребою огризнувся хлопець. – Ось поговориш із ректором, тоді й дізнаєшся, що дозволено буде.
     </p>
    <p>
        – А той дядько – ректор? - Уточнила я. - Ага-а-а! А це, отже, інститут? Круто! А інститут – чого?
    </p>
    <p>
        – От… Дістала!
    </p>
    <p>
        - Зануда неприємний!
    </p>
    <p>
        – А ти – шурх!
    </p>
    <p>
        <a href="/page61_1"><button>Далі</button></a>
    </p>
</body>
</html>
