<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/98/5b/94/985b94a2b9aaad1e391859aad0f204f5.jpg" alt="Sea" width="500">
    </p>
    <p>
      Дядько розвернувся і подався геть. Ось як! Виходить, він давно за нами спостерігав, коли чув мої слова про «слабку дівчину»? Я запитливо дивилася на Федьку.
    </p>
     <p>
       - Зараз проведу, - лаконічно буркнув він і, обігнувши мене по дузі, підійшов до книги, що валялася на підлозі, і підняв її.
     </p>
    <p>
        Хм. Адже книжечка була іноземною мовою. Точно пам'ятаю! Але зараз я легко прочитала її назву: «Тиха хода вбивці». Нічого не розумію!
    </p>
    <p>
        Я з цікавістю озирнулася. Кругла кімната, в якій були відсутні меблі та вікна, найбільше нагадувала імітацію бібліотеки.
    </p>
    <p>
        Імітацію, оскільки стіни її покривала мозаїка, що зображує полиці, щільно заставлені книжковими томами.
    </p>
    <p>
        <a href="/page54_1"><button>Далі</button></a>
    </p>
</body>
</html>
