<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/34/f6/c9/34f6c92d0517c9fab9ac620262c8e67e.png" alt="Sea" width="500">
    </p>
    <p align="center">
        На сьогодні з роботою завершено.
    </p>
    <p align="center">
       До зупинки не далеко, а ось автобус треба буде почекати.
    </p>
    <p align="center">
        <a href="/page6_2"><button>Далі</button></a>
   </p>
</body>
</html>