<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>

</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/96/a1/63/96a16354e47a041e5f06f44715045859.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Добре, що робота дозволяла читати книги в колосальній кількості.
        Бібліотека – це не те місце, де можна відчувати дефіцит у літературі.
    </p>
    <p align="center">
        - Кіра, я сьогодні тікаю раніше, - сказала мені начальниця і за сумісництвом двоюрідна тітонька, мамина кузина.
    </p>
    <p align="center">
        <a href="/page2"><button>Далі</button></a>
    </p>
</body>
</html>
