<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/69/13/c3/6913c3e0c8d186a6bde7ae6255828bc4.jpg" alt="Sea" width="500">
    </p>
    <p>
        - Ніртон? - Запитав ректор студента, що провинився.
    </p>
     <p>
        – Я прибув на практику, як і було наказано. Вибір ліг на маленьку районну бібліотеку. Діяв за інструкцією. Час був уже вечірній, заклад виглядав закритим. А там ця… Побачила мене, довелося тікати.
     </p>
    <p>
        - Це так? - Тяжкий погляд карих очей перемістився на мене.
    </p>
    <p>
        - Ну так. Бібліотека вже була закрита, а він там хитався і книжки крав, – пояснила я.
     </p>
    <p>
        - Я нічого не крав! – огризнувся Федько і продовжив, дивлячись виключно на ректора: – Виконавши завдання, повернувся у призначену годину до точки прибуття. Бібліотека була закрита, світло не горіло. Мені потрібно було трохи перечекати до активації порталу, а там знову ця…
      </p>
    <p>
        <a href="/page65_1"><button>Далі</button></a>
    </p>
</body>
</html>
