<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body align="center">
    <style>
        body{
             background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/e0/4a/18/e04a18bbbb7eba4a9d3140db422f0a47.jpg" alt="Sea" width="500">
    </p>
    <p>
        – А мені тепер, напевно, не зарахують практику через твою звичку бити ні в чому не винних студентів швабрами. - Хлопець похмуро глянув на мою дерев'яну зброю, з якою я розлучатися не збиралася. Мало що ще попереду чекає. - Ходімо!
    </p>
     <p>
        - Федь, а Федь, - припустила я за ним до виходу. – То де ми?
     </p>
    <p>
        - Відчепись, пронира! - Він струсив з руки мої пальці, але я відразу вчепилася в його рукав, не звернувши уваги на страждання.
    </p>
    <p>
        – Ну, Фе-е-едь, – законючила я. - Ну, тобі чого, важко відповісти? Ти куди мене притяг? І як?
    </p>
    <p>
        Взагалі було страшнувато. Адже такого не буває у реальному житті, щоб – раз! – телепортувався та провалився в інший світ. Я ж не попаданка якась, а звичайне дівчисько. Та в моєму житті найбільшим дивом було те, що я побачила дельфінів, коли ми з батьками відпочивали на морі. Або ... Ой-йо-о!
    </p>
    <p>
       Я – попаданка?!
    </p>
    <p>
        <a href="/page56_1"><button>Далі</button></a>
    </p>
</body>
</html>
