<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/4e/fb/b0/4efbb032a797e10d44aea7d6e450b0e8.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Наступний тиждень нічим цікавим не відзначився. Відвідувачів побільшало. Народ повернувся з дач і відпусток, школярі готувалися до першого вересня, студенти також потихеньку збиралися на навчання.
   </p>
    <p align="center">
        Надвечір я втомлювалася так, що вже нічого не хотіла, тільки впасти, заплющити очі і заснути.
    </p>
    <p align="center">
        Адже трикляте миття підлоги нікуди не поділося. Хотіла я чи ні, але доводилося ліниво возити ганчіркою по підлозі, змиваючи відбитки підошв.
    </p>
    <p align="center">
        Та й погода наприкінці серпня, як на зло, зіпсувалася, і весь цей вуличний бруд відвідувачі несли всередину.
    </p>
    <p align="center">
        <a href="/page12_2"><button>Далі</button></a>
    </p>
</body>
</html>