<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/4e/fb/b0/4efbb032a797e10d44aea7d6e450b0e8.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
      За вікном уже стемніло, шурхотів склом дрібний дощ, що мрячить, а я повністю поринула у фантазійний світ.
    </p>
    <p align="center">
        І ось на найцікавішому місці, коли героїня кромсала мечем упирів на цвинтарі, у залі бібліотеки загриміло металеве відро.
    </p>
     <p align="center">
        Я здригнулася і насилу виринула в реальність. Прислухалася… Ні, мабуть, здалося.
     </p>
    <p align="center">
        Але тільки я знову уткнулася поглядом у рядки тексту, як рипнула половиця. Та-а-ак!
    </p>
    <p align="center">
        <a href="/page31_1"><button>Далі</button></a>
    </p>
</body>
</html>