<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The magic of librarians</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619220249_7-phonoteka_org-p-list-knigi-fon-7.jpg")
        }
             button {
            background-color: orange;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <p align="center">
       <img  src="https://i.pinimg.com/originals/89/fd/fb/89fdfb3f6b6aecc104daa4fe65f374cf.jpg" alt="Sea" width="500">
    </p>
    <p align="center">
        Отже, заплющити очі, принюхатися, відкритися, прислухатися і застукати диво, поки воно крастиметься повз мене навшпиньки. Та не питання!
    </p>
    <p align="center">
        Що нам, ведмежатам? Я зручніше влаштувалася в старенькому потертому кріслі, змежила повіки і спробувала розслабитися.
    </p>
     <p align="center">
        Принюхалася. Чим пахне? Пилом, книгами, старим, місцями підгнилим паркетом, тітковою геранню. Фу-у-у, до чого ж смердюча рослина, хоч би зав'яло швидше!
     </p>
     <p align="center">
        Чим ще? Недопитим чаєм із кухля. Трохи парфумами, що залишилися після відвідувачів. М-так. Деякі не знають, що таке почуття міри, і поливаються парфумами з ніг до голови.
    </p>
     <p align="center">
         Дивом не пахло.
    </p>
    <p align="center">
        <a href="/page13_1"><button>Далі</button></a>
    </p>
</body>
</html>